button {
    background-color:rgb(218, 57, 57);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button:focus {
    background-color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
}

input{
    font-size: 20px;
    margin-top:-5%;
  }
  