button {
    background-color:rgb(45, 108, 133);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
}

button:focus {
    background-color:rgb(25, 22, 22);
}

input {
    font-size: 25px;
    padding: 8px;
}
